.left {
  padding: 10px;
  li {
    list-style-type: none;
    padding: 10px;
    padding-right: 10px;
    border-right: 2.5px solid #a0a0a0;
  }
  .none {
    text-decoration: none;
    color: #c9a66b;
  }
}
